.vux-confirm .weui-dialog .weui-dialog__hd {
  padding: 0;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vux-confirm .weui-dialog .weui-dialog__ft a {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.32rem;
}
.vux-confirm .weui-dialog .weui-dialog__ft .weui-dialog__btn_primary {
  color: #3c8ee9;
}
.v-transfer-dom .vux-popup-dialog .weui-cells_radio {
  max-height: 4.4rem;
  overflow: scroll;
  overflow-x: hidden;
}
.v-transfer-dom .vux-popup-dialog .weui-cells_radio .weui-cell__bd {
  height: 0.5rem;
}
.v-transfer-dom .vux-popup-dialog .weui-cells_radio .weui-cell__bd p {
  height: 0.5rem;
  display: flex;
}
.v-transfer-dom .vux-popup-dialog .weui-cells_radio .weui-cell__bd p .vux-radio-label {
  font-size: 0.3rem;
}
.v-transfer-dom .vux-popup-dialog .weui-cells_radio .weui-cell__ft {
  height: 0.5rem;
  display: inline-flex;
  align-items: center;
}
.v-transfer-dom .vux-confirm .weui-dialog .weui-dialog__hd {
  padding: 0;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-transfer-dom .vux-confirm .weui-dialog .vux-prompt {
  padding-bottom: 0;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work_add {
  background: #fff;
  padding-top: 0.14rem;
}
.work_add ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.work_add ul li {
  width: 25%;
  text-align: center;
  line-height: 1;
}
.work_add ul li img {
  width: 0.64rem;
  height: 0.64rem;
}
.work_add ul li span {
  font-size: 0.24rem;
  color: #666666;
  display: block;
  margin: 0 auto;
}
.vux-toast .weui-toast {
  width: 3rem !important;
  max-height: 3rem;
  font-size: 0.2rem;
}
.vux-toast .weui-toast .weui-toast__content {
  font-size: 0.32rem;
}
.weui-loading_toast .weui-toast {
  width: 3rem !important;
  max-height: 3rem;
  font-size: 0.2rem;
}
.xs-container .xs-plugin-pullup-container {
  bottom: -55px !important;
  font-size: 0.22rem;
}
.popup_bg .search_input {
  padding: 0;
  margin-top: -0.3rem;
}
.popup_bg .search_input /deep/ .weui-cells {
  font-size: 0.26rem;
}
.popup_bg .search_input /deep/ .weui-cells .weui-cell {
  padding: 0;
  height: 0.8rem;
  padding-left: 0.4rem;
  caret-color: block;
  padding-right: 0.3rem;
}
.popup_bg .search_input /deep/ .weui-cells .weui-cell .weui-input {
  height: 0.8rem;
}
.popup_bg .vux-popup-header {
  height: 1rem;
  display: flex;
  background-color: #fff;
}
.popup_bg .vux-popup-header .vux-popup-header-left,
.popup_bg .vux-popup-header .vux-popup-header-title,
.popup_bg .vux-popup-header .vux-popup-header-right {
  flex: 1;
}
.popup_bg .vux-popup-header .vux-popup-header-right {
  text-align: right;
}
.popup_bg .check_list_bg {
  height: 4.4rem;
  overflow: scroll;
  overflow-x: hidden;
}
.popup_bg .check_list_bg /deep/ .weui-cells {
  font-size: 0.26rem;
}
.rich_text p img {
  width: 5rem;
  height: auto;
}
.rich_text img {
  width: 5rem;
  height: auto;
}
.weui-dialog .tipInfo {
  font-size: 0.26rem;
  color: red;
}
.showBorder {
  border: 1px solid #e0e0e0;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
textarea::-ms-textarea-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
a {
  outline: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.weui-loadmore {
  font-size: 0.2rem !important;
  color: #ccc;
}
.weui-loadmore__tips {
  color: #ccc !important;
}
